<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,800;1,900&family=Oswald:wght@200;300;400;600;700&family=Teko:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,800;1,900&family=Teko:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <!--main section starts -->
    <section id="main-section">
        <div class="main-navbar">

            <div class="main-logo">
                <span>ADSUNT</span>
            </div>
            <nav>
                <ul class="main-nav">
                    <li>
                        <a href="#main-section">HOME</a></li>
                    <li>
                        <a href="#myskills-section">ABOUT ME</a></li>
                    <li>
                        <a href="#my-portfolio-section">PORTFOLIO</a></li>
                    <li>
                        <a href="#ourteam-section">TEAM</a></li>

                    <li>
                        <a href="#form-section">CONTACT US</a></li>
                    <li>
                        <a href="#myservices-section">SERVICES</a></li>
                </ul>
            </nav>
        </div>
        <div class="container">

            <div class="main-content">
                <h1 class="first-slogan">

                    Believe In Yourself
                </h1>
                <br>
                <p>
                    Expertiese Recommendation on Web Development.
                </p>
                <button class="btn1"> <a href="#my-portfolio-section">MY PORTFOLIO</a> </button>
            </div>

        </div>

    </section>
    <!--main section ends -->
    <section id="myskills-section">
        <div class="container">
            <div class="skills">
                <div class="content">
                    <h1 class="header">
                        Adsunt Story
                    </h1>
                    <h2 class="myskills-header">
                        My Skills
                    </h2>
                    <br>
                    <p class="skills-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores animi temporibus adipisci laudantium, facilis magni ducimus molestias quos voluptatibus deleniti, minus suscipit repudiandae ullam repellat asperiores! Necessitatibus quod ea ipsum porro,
                        accusantium architecto repellat aspernatur debitis error quae at doloremque perferendis fugiat consequatur cum dolorum nulla libero impedit quasi dolores.</p>

                </div>


                <div class="my-portrait">
                    <img src="static/images/team-large-1.png" alt="">
                </div>

            </div>


        </div>

    </section>
    <!--myskills section ends-->
    <section id="myservice-section">
        <div class="container">
            <div class="thirdsection-header">
                <h1>My Services</h1>
                <br>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Neque asperiores odio mollitia id vero similique. </p>
            </div>

            <div class="myservice-grid-chambers">
                {%for skill in skills%}
                <div class="grid-webdesign">

                    <i class="{{skill.icon}}"></i>
                    <h2>
                        {{skill.skillName}}
                    </h2>

                    <p>{{skill.content}}
                    </p>
                </div>
                {%endfor%}
            </div>
        </div>


    </section>
    <!--thirdsection ends-->
    <section id="my-portfolio-section">
        <div class="container">
            <div class="myportfolio-header">
                <h1>My Portfolio</h1>
                <br>
                <p class="myportfolio-content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Neque asperiores odio mollitia id vero similique. </p>
                <div class="portfolio-btns">
                    <button class="btn2">ALL</button>
                    <button class="btn3">Web Design</button>
                    <button class="btn4">Development</button>
                    <button class="btn5">Marketing</button>

                </div>
            </div>


            <div class="gridbox">
                <div class="griditems cell-1"><img src="static/images/1.jpg" alt=""></div>
                <div class="griditems cell-2"><img src="static/images/2.jpg" alt=""></div>
                <div class="griditems cell-3"><img src="static/images/9.jpg" alt=""></div>
                <div class="griditems cell-5"><img src="static/images/10.jpg" alt=""></div>
                <div class="griditems cell-4"><img src="static/images/4.jpg" alt=""></div>
                <div class="griditems cell-6"><img src="static/images/3.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <section id="ourteam-section">

        <div class="container">
            <div class="ourteam-header">
                <h2>
                    Our Team
                </h2>
                <br>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, facere!
                </p> 
            </div>

            <div class="ourteam-grid">
                {% for ourteam in ourteam_list %}
                <div class="item">
                    <div class="image-frame">
                        <div class="overlay"></div>
                        <img src="{{ourteam.images}}" alt="" style="background-size:cover ;">
                        <div class="icons">
                            <i class="fab fa-facebook" id="ikona"></i>
                            <i class="fab fa-twitter" id="ikona"></i>
                            <i class="fab fa-tiktok" id="ikona"></i>
                            <i class="fab fa-instagram" id="ikona"></i>
                        </div>

                    </div>

                    <h3>{{ourteam.name}}</h3>
                    <p>{{ourteam.profession}}</p>


                </div>
                {% endfor %}

            </div>
        </div>


    </section>
    <!--our team section ends-->
    <section id="getintouch-section">
        <div class="container">
            <div class="git-subcontainer">
                <div class="git-header">
                    <h1>Get In Touch</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque officiis ipsa, in neque facilis veritatis quaerat <br> dolor nam obcaecati architecto. Pariatur, neque!</p>
                </div>
                <div class="git-box">
                    <div class="col-box">

                        <div class="add-box">

                            <i class="fas fa-map-marker-alt"></i>

                        </div>

                        <div class="add-headers">
                            <h4>ADDRESS STREET</h4>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>

                    </div>
                    <div class="col-box">

                        <div class="add-box">
                            <i class="fas fa-phone-alt"></i>

                        </div>

                        <div class="add-headers">
                            <h4>NUMBER PHONE</h4>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>


                    </div>
                    <div class="col-box">

                        <div class="add-box">
                            <i class="fas fa-map-marker-alt"></i>

                        </div>

                        <div class="add-headers">
                            <h4>CITY NUMBER</h4>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="col-box">

                        <div class="add-box">
                            <i class="fas fa-phone-alt"></i>

                        </div>

                        <div class="add-headers">
                            <h4>ADDRESS EMAIL</h4>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>


                    </div>

                </div>
            </div>


        </div>



    </section>



    <!--getintouch-section ends-->
    <section id="form-section">
        <div class="container">
            <form action="/admin/contact" method="post">
                <div class="form-div">
                    <div class="row-1 ">

                        <input type="text " name="ad " id="Name " placeholder=" Name ">
                        <input type="text " name="soyad " placeholder="Surname ">
                    </div>
                    <div class="row-2 ">
                        <input type="tel " name="telefon " placeholder="Tel ">
                        <input type="email " name="email " id="Email " placeholder="Email ">
                    </div>
                    <textarea name="message " id="Message " cols=" " rows=" " placeholder="   Message "></textarea>
                    <div class="form-send ">
                        <button type="submit ">SEND MESSAGE</button>
                    </div>

            </form>
            </div>
        </div>


        </div>
    </section>
    <!--Form-section ends-->
    <section id="footer-area">
        <div class="container">
            <div class="sub-container">
                <div class="logo-part">
                    <div class="footer-adsund">
                        <span>ADSUNT</span>
                    </div>
                    <div class="info-adds">
                        <ul>
                            <li>
                                <i class="fas fa-phone"></i>
                                <a>Hotline (+994) 50 764 36 26</a>
                            </li>
                            <li>
                                <i class="fal fa-envelope"></i>
                                <a>bhabib95@gmail.com</a>
                            </li>
                            <li>
                                <i class="fas fa-map-marker"></i>
                                <a>location</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="social-apps">
                    <div class="app">
                        <i class="fab fa-facebook-f"></i></div>
                    <div class="app">
                        <i class="fab fa-twitter"></i></div>
                    <div class="app">
                        <i class="fab fa-pinterest-p"></i></div>
                    <div class="app">
                        <i class="fab fa-google"></i></div>

                </div>
            </div>




        </div>
    </section>

</body>

</html>