.carousel:hover {
    background: rgba(0, 0, 0, 0.775);
    transition: all 0.8s ease;
}

.carousel:hover .feedback {
    color: aliceblue;
    transition: 0.8s;
    opacity: 0.5;
}

.feedback {
    position: absolute;
    font-weight: 700;
    font-size: 100px;
    opacity: 0.3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    bottom: 30px;
    right: 0px;
    left: 0px;
    top: 0px;
}

.carousel:hover h1,
.carousel:hover p,
.carousel:hover small {
    color: white;
}

.carousel h1,
p,
small {
    transition: 0.5s;
}

.fb-slide-prf img {
    width: 150px;
    height: 150px;
}

.fb-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fb-slide-prf,
.fb-slide-title h1,
.fb-slide-content p,
.fb-slide-from small {
    margin-top: 20px;
}

.fb-slide-title h1 {
    /* font-family: "ReadexProRegular"; */
    font-weight: 600 !important;
    font-size: 22px;
    margin-bottom: 5px;
}

.fb-slide-from small {
    /* font-family: "ReadexProLight"; */
    font-weight: 400 !important;
    font-size: 14px;
}

.fb-slide-content {
    display: flex;
    justify-content: center;
}

.fb-slide-content p {
    width: 70%;
    /* font-family: "ReadexProSemiBold"; */
    font-weight: 500 !important;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.4;
}