{% extends "admin/base.html" %} {% block content %}
<h1 class="pt-35">Add new <span style="color:#000000;">Contact</span></h1>
<div class="pb-60">
    <table class="table rounded">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ad</th>
                <th scope="col">Soyad</th>
                <th scope="col">Telefon</th>
                <th scope="col">Email</th>
                <th scope="col">message</th>
                <th scope="col">date</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for kontakt in messages %}
            <tr>
                <td>{{kontakt.id}}</td>
                <td>{{kontakt._ad}}</td>
                <td>{{kontakt._soyad}}</td>
                <td>{{kontakt._telefon}}</td>
                <td>{{kontakt._email}}</td>
                <td>{{kontakt._message}}</td>
                <td>{{kontakt._date}}</td>
                <td><a href="/"><i class="far fa-trash-alt" style="color: #20C997;"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}