{% extends "admin/base.html" %} {% block content %}

<!-- Form hisse, burdan daxil olunan inputdaki deyer ashagdaki table dushur -->
<h1 class="pt-35">Add new <span style="color:#000000;">Skills</span></h1>
<form action="/admin/Skills.html" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label class="mt-5">Skills Title</label>
        <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="form-group mt-3">
        <label class="">Skills Content</label>
        <textarea name="describtion" class="form-control" id="exampleFormControlTextarea1" rows="4" required></textarea>
    </div>
    <div class="submit_button">
        <span></span><button type="submit">Submit</button>
    </div>
</form>


<!-- Bura table qoymaq lazimidr sende de bootsrtao oldugu ucun ozumden gotururem -->
<div class="pb-60">
    <table class="table rounded">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Skills title</th>
                <th scope="col">Skills describtion</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {%for _skills in skills%}
            <tr>
                <td>{{_skills.id}}</td>
                <td>{{_skills._title}}</td>
                <td>{{_skills._describtion}}</td>
                <td><a href="#"><i class="far fa-edit" style="color: #20C997;"></i></a></td>
                <td><a href="/"><i class="far fa-trash-alt" style="color: #20C997;"></i></a></td>

            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{% endblock %}